<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421778500398-86qvt1n9i352h4epgce7o7mhascsii1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421778500398-86qvt1n9i352h4epgce7o7mhascsii1o</string>
	<key>API_KEY</key>
	<string>AIzaSyDJH1k9w1yoO_OoZSkycwOMaySqGx220FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>421778500398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhanva.dhanvaios</string>
	<key>PROJECT_ID</key>
	<string>dhanva-9190d</string>
	<key>STORAGE_BUCKET</key>
	<string>dhanva-9190d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:421778500398:ios:c534f3431ab7a9a0b1e8bf</string>
</dict>
</plist>
