<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761242968692-lbpe5a8t4sm869jsd840fn91500dkq0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761242968692-lbpe5a8t4sm869jsd840fn91500dkq0d</string>
	<key>API_KEY</key>
	<string>AIzaSyAOUXV4aitufJuvURyNsWshyZjpZ2dQ4aA</string>
	<key>GCM_SENDER_ID</key>
	<string>761242968692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.celestial.dhanva</string>
	<key>PROJECT_ID</key>
	<string>dhanva-fcm-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>dhanva-fcm-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:761242968692:ios:9b71d1a0708b948b33e721</string>
</dict>
</plist>
